
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  padding: 32px 16px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    padding: 64px 16px;
    max-width: 800px;
  }
  @media screen and (min-width: 992px) {
    max-width: 1000px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
