@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700);

body {
  background-color: #F7F1ED
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}
