.form-error {
  font-size: 14px;
  color: #FF644F;
}

.form-error-icon {
  margin-right: 4px;
  color: #FF644F;
  stroke: #FF644F;
  fill: #FF644F;
  stroke-width: 0;
  height: 14px;
  width: 14px;
}
